.nav-level {
  width: fit-content;
  white-space: nowrap;
}

.nav-level__list {
  list-style-type: none;
  padding-left: 10px;
  overflow: hidden;
}

.nav-level__title {
  white-space: wrap;
  cursor: pointer;
  display: inline-block;
}

.nav-level__title_active {
  color: blueviolet;
}

.nav-level__arrow {
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  border: 5px solid transparent;
  border-left: 5px solid #000;
  transition: transform 0.2s ease;
  transform: rotateZ(0deg);
}

.nav-level__arrow_active {
  transform: rotateZ(90deg);
}
