.aside-nav {
  width: 0%;
  max-width: 450px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s ease;
}
.aside-nav_active {
  min-width: 340px;
  width: min-content;
  border: 2px solid #000;
}

.aside-nav__nav-list {
  padding: 10px;
}

@media (max-width: 768px) {
  .aside-nav {
    position: absolute;
    z-index: 5;
    background-color: #fff;
  }
}

@media (max-width: 450px) {
  .aside-nav_active {
    width: 100vw;
  }
}
